<!-- https://jituchauhan.com/real-wed/realwed/index-3.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/materialize.custom.css" />
    <link rel="stylesheet" href="stylesheets/theme.css">
    <link rel="stylesheet" href="stylesheets/nice.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/wlogo.png" />
</head>

<body>
    <nav class="c1">
        <div class="overlay">
            <header class="page-header">
                <nav>
                    <div class="trigger-menu-wrapper">
                        <div class="trigger-menu">
                            <div class="wrapper">
                                <a href="#" class="logo light">
                                    <span>Wedshine</span>
                                </a>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">In-House Services</a></li>
                                    <li><a href="#">Festive Offers</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a class="btn-default" href="#">Contact Us</a></li>
                                </ul>

                                <div class="rmenu">
                                    <div>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="wrapper">
                <div class="hero">
                    <div class="container">
                        <div class="hero-quote">
                            <h1>Find Local Wedding Vendors</h1>
                            <p>Browse the best wedding vendors in your area — from venues and photographers, to wedding
                                planners, caterers, florists and more.</p>
                        </div>
                    </div>
                </div>
            </div>

            <ol class="hero-tab">
                <div class="wrapper">
                    <li>
                        <div class="tab-ico">
                            <span class="material-icons-two-tone">tapas</span>
                        </div>
                        <p>13000+</p>
                        <p>Listed Banquets</p>
                    </li>

                    <li>
                        <div class="tab-ico">
                            <span class="material-icons-two-tone">groups</span>
                        </div>
                        <p>12000+</p>
                        <p>Happy Clients</p>
                    </li>

                    <li>
                        <div class="tab-ico">
                            <span class="material-icons-two-tone">place</span>
                        </div>
                        <p>168+</p>
                        <p>Smart Cities</p>
                    </li>

                    <li>
                        <div class="tab-ico">
                            <span class="material-icons-two-tone">celebration</span>
                        </div>
                        <p>200+</p>
                        <p>Real Weddings</p>
                    </li>
                </div>
            </ol>
        </div>
    </nav>

    <div class="search">
        <div class="select">
            <a id="dropdown-trigger1" class='dropdown-trigger btn-white' data-target='dropdown1'>
                <span id="drop-val1">City</span>
                <span class="material-icons">arrow_drop_down</span>
            </a>
            <ul id='dropdown1' class='dropdown-content'>
                <li>City</li>
                <li>Kolkata</li>
                <li>Delhi</li>
                <li>Mumbai</li>
                <li>Bangalore</li>
                <li>Patna</li>
            </ul>
        </div>

        <div class="select">
            <a id="dropdown-trigger2" class='dropdown-trigger btn-white' data-target='dropdown2'>
                <span id="drop-val2">Guests</span>
                <span class="material-icons">arrow_drop_down</span>
            </a>
            <ul id='dropdown2' class='dropdown-content'>
                <li>Guests</li>
                <li>10 - 50</li>
                <li>50 - 100</li>
                <li>100 - 250</li>
                <li>250 - 500</li>
                <li>500 - 1000</li>
                <li>1000+</li>
            </ul>
        </div>

        <div class="select">
            <button id="search-btn" class="btn-default">
                <span class="material-icons">search</span>
                <span>Search</span>
            </button>
        </div>
    </div>

    <nav class="c2">
        <div class="wrapper">
            <h3>Browse Vendors by Category</h3>
            <p>You can browse all venues by category with thumbnail image and category name.</p>

            <ul>
                <li>
                    <div class="zoom-effect-container">
                        <div class="image-card">
                            <img src="images/products/category/pr3.jpg" />
                            <a href="#">Florist</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="zoom-effect-container">
                        <div class="image-card">
                            <img src="images/products/category/pr2.jpg" />
                            <a href="#">Photographers</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="zoom-effect-container">
                        <div class="image-card">
                            <img src="images/products/category/pr6.jpg" />
                            <a href="#">Videography</a>
                        </div>
                    </div>
                </li>
            </ul>

            <ul>
                <li>
                    <div class="zoom-effect-container">
                        <div class="image-card">
                            <img src="images/products/category/pr1.jpg" />
                            <a href="#">Wedding Venues</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="zoom-effect-container">
                        <div class="image-card">
                            <img src="images/products/category/pr4.jpg" />
                            <a href="#">Wedding Makeup</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="zoom-effect-container">
                        <div class="image-card">
                            <img src="images/products/category/pr5.jpg" />
                            <a href="#">Wedding Band</a>
                        </div>
                    </div>
                </li>
            </ul>

            <button class="btn-default">
                <span class="material-icons">timeline</span>
                <span>Browse All Categories</span>
            </button>
        </div>
    </nav>

    <nav class="c3">
        <div class="wrapper">
            <h3>Latest Wedding Vendors</h3>
            <p>A short description for showcase of latest wedding venue.</p>

            <ul class="grid">
                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="images/products/img1.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="images/products/img2.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="images/products/img3.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="images/products/img4.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="images/products/img5.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="c4">
        <div class="wrapper">
            <h3>How it Works?</h3>
            <p>Find, shortlist, get free quotes and book vendors conveniently.</p>

            <ul>
                <li>
                    <div class="c4-shape shape-circle bg-light-default">
                        <i class="material-icons-two-tone">image_search</i>
                        <span>1</span>
                    </div>

                    <h3>Browse Venues</h3>
                    <p>Duis ultrices tincidunt augue sit amet ult simple dummy rices mi cursus ut susperetra nunc.</p>
                </li>

                <li>
                    <div class="c4-shape shape-circle bg-light-default">
                        <i class="material-icons-two-tone">task</i>
                        <span>2</span>
                    </div>

                    <h3>Request Quote</h3>
                    <p>Maecenas bibendum velit nisl, sed vulputate nulla maximus convallo lutpgna ipsum.</p>
                </li>

                <li>
                    <div class="c4-shape shape-circle bg-light-default">
                        <i class="material-icons-two-tone material-icons-new">date_range</i>
                        <span>3</span>
                    </div>

                    <h3>Book Event</h3>
                    <p>Praesent consectetur mauris id urna interdu quis fringilla esmoin purus blandit convallis.</p>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="c5">
        <div class="wrapper">
            <h3>Real Weddings</h3>
            <p>Real inspiration from the real wedding couple. Get ideas for grooms and brides.</p>

            <ul class="grid">
                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="images/products/weddings/wedding-img-3.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Abdul Razique</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Hotel & Resort Pan Plaza, Kolkata</span>
                                    <span>11 Dec, 2020</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="images/products/weddings/wedding-img-2.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Shashi Shuvendu</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Hotel Royal Garden, Kolkata</span>
                                    <span>07 Jan, 2021</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="images/products/weddings/wedding-img-3.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Rohit Kumar Besra</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Hotel ACME, Kolkata</span>
                                    <span>18 Feb, 2021</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <button class="btn-default">
                <span class="material-icons">timeline</span>
                <span>More Real Weddings</span>
            </button>
        </div>
    </nav>

    <nav class="c6">
        <div class="wrapper">
            <h3>What Our Client Says</h3>
            <p>Find out what about real couple have to say about related.</p>

            <ul>
                <li>
                    <div class="message">
                        <p>"I've been using your cinematics in my montages for ages! Awesome stuff man and thank you!"
                        </p>
                        <p>- QUAKEV</p>
                    </div>
                </li>

                <li>
                    <div class="message">
                        <p>"I've been using your cinematics in my montages for ages! Awesome stuff man and thank you!"
                        </p>
                        <p>- QUAKEV</p>
                    </div>
                </li>

                <li>
                    <div class="message">
                        <p>"I've been using your cinematics in my montages for ages! Awesome stuff man and thank you!"
                        </p>
                        <p>- QUAKEV</p>
                    </div>
                </li>

                <li>
                    <div class="message">
                        <p>"I've been using your cinematics in my montages for ages! Awesome stuff man and thank you!"
                        </p>
                        <p>- QUAKEV</p>
                    </div>
                </li>

                <li>
                    <div class="message">
                        <p>"I've been using your cinematics in my montages for ages! Awesome stuff man and thank you!"
                        </p>
                        <p>- QUAKEV</p>
                    </div>
                </li>

                <li>
                    <div class="message">
                        <p>"I've been using your cinematics in my montages for ages! Awesome stuff man and thank you!"
                        </p>
                        <p>- QUAKEV</p>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="c7">
        <div class="overlay">
            <div class="wrapper">
                <h3>Start Planning for Free</h3>
                <p>VendorHub will connect your wedding with businessess that are available on your wedding date, meet
                    your
                    budgets, are in-line with your style and much more. Save time and let venorhub recommend the best
                    wedding vendors in india for your Wedding Day!</p>
                <button class="btn-default">
                    <span class="material-icons">today</span>
                    <span>Plan your Venue today</span>
                </button>
            </div>
        </div>
    </nav>

    <footer>
        <div class="wrapper">
            <ul>
                <li>
                    <p><a href="#" class="logo dark"><span>Wedshine</span></a></p>
                    <p><span class="material-icons">my_location</span>4998 Elk Creek Road Canton,</p>
                    <p class="space">GA 30114</p>
                    <p><span class="material-icons">call</span><a class="a-active"
                            href="tel:+91-800-2068-980">91-800-2068-980</a></p>
                    <p><span class="material-icons">mark_email_unread</span><a class="a-active"
                            href="mailto:info@wedshine.in">info@wedshine.in</a></p>
                </li>

                <li>
                    <h3>Pages</h3>
                    <p><a href="#">Services</a></p>
                    <p><a href="#">Offers</a></p>
                    <p><a href="#">Testimonial</a></p>
                    <p><a href="#">Faq's</a></p>
                    <p><a href="#">About us</a></p>
                    <p><a href="#">Contact us</a></p>
                </li>

                <li>
                    <h3>Categories</h3>
                    <p><a href="#">Bridal Makeup</a></p>
                    <p><a href="#">Event & Venues</a></p>
                    <p><a href="#">Florist</a></p>
                    <p><a href="#">Photographers</a></p>
                    <p><a href="#">Videography</a></p>
                    <p><a href="#">Wedding Band</a></p>
                </li>

                <li>
                    <h3>Newsletter</h3>
                    <input type="text" placeholder="Email address">
                    <button class="btn-default">
                        <span class="material-icons">feed</span>
                    </button>

                    <div class="social">
                        <span>We are social</span>
                        <a href="#" class="tw"></a>
                        <a href="#" class="fb"></a>
                        <a href="#" class="ig"></a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="footer">
            <div class="wrapper">&copy;
                <script>document.write(new Date().getFullYear())</script> Wedshine Marketings LLP. All Rights Reserved.
            </div>
        </div>
    </footer>

    <div class="menu-slide">
        <div class="menu-mask"></div>
        <div class="menu-items">
            <div class="rmenu-close">
                <div><span class="material-icons">close</span></div>
            </div>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">In-House Services</a></li>
                <li><a href="#">Festive Offers</a></li>
                <li><a href="#">Testimonial</a></li>
                <li><a href="#">About Us</a></li>
                <li><a class="btn-white" href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascripts/nice.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        const body = document.body;
        const nav = document.querySelector(".page-header nav");
        const scrollUp = "scroll-up";
        const scrollDown = "scroll-down";
        let lastScroll = 0;

        window.addEventListener("scroll", () => {
            const currentScroll = window.pageYOffset;
            if (currentScroll <= 0) {
                body.classList.remove(scrollUp);
                return;
            }

            if (currentScroll > lastScroll && !body.classList.contains(scrollDown)) {
                // down
                body.classList.remove(scrollUp);
                body.classList.add(scrollDown);
            } else if (currentScroll < lastScroll && body.classList.contains(scrollDown)) {
                // up
                body.classList.remove(scrollDown);
                body.classList.add(scrollUp);
            }
            lastScroll = currentScroll;
        });

        $(document).ready(function () {
            $('.rmenu').on('click', function () {
                $('.menu-slide').css('right', '0%');
            })
            $('.rmenu-close').on('click', function () {
                $('.menu-slide').css('right', '-100%');
            })
            $('.menu-mask').on('click', function () {
                $('.menu-slide').css('right', '-100%');
            })

            $('#dropdown-trigger1').dropdown();
            $('#dropdown1 li').on('click', function () {
                var _this = $(this).text();
                $('#drop-val1').text(_this)
            })

            $('#dropdown-trigger2').dropdown();
            $('#dropdown2 li').on('click', function () {
                var _this = $(this).text();
                $('#drop-val2').text(_this)
            })

            $('#search-btn').on('click', function () {
                location.href = '../search/venue'
            })
        })
    </script>
</body>

</html>