<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/materialize.custom.css" />
    <link rel="stylesheet" href="../stylesheets/rest.css">
    <link rel="stylesheet" href="../stylesheets/nice.css">
    <link rel="stylesheet" href="../stylesheets/responsive.css">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
</head>

<body class="rest">
    <nav class="r-hero">
        <div class="overlay">
            <header class="page-header">
                <nav>
                    <div class="trigger-menu-wrapper">
                        <div class="trigger-menu">
                            <div class="wrapper">
                                <a href="#" class="logo light">
                                    <span>Wedshine</span>
                                </a>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">In-House Services</a></li>
                                    <li><a href="#">Festive Offers</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a class="btn-default" href="#">Contact Us</a></li>
                                </ul>

                                <div class="rmenu">
                                    <div>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="hero">
                <div class="wrapper">
                    <div class="page-title">
                        <h1>Venue Lists</h1>
                    </div>
                </div>
            </div>

            <div class="page-sitemap">
                <div class="wrapper">
                    <p><a href="#">Home</a> ><a href="#">Venue</a> > <b>List</b></p>
                </div>
            </div>
        </div>
    </nav>

    <div class="filter">
        <div class="wrapper">
            <div class="filter-of">
                <a id="dropdown-trigger1" class='dropdown-trigger btn-white' data-target='dropdown1'>
                    <span id="drop-val1">Anywhere</span>
                    <span class="material-icons">arrow_drop_down</span>
                </a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li>Anywhere</li>
                    <li>Park Street</li>
                    <li>Park Circus</li>
                    <li>Picnic Garden</li>
                    <li>Salt Lake</li>
                    <li>Dum Dum</li>
                </ul>

                <a id="dropdown-trigger2" class='dropdown-trigger btn-white' data-target='dropdown2'>
                    <span id="drop-val2">Guests</span>
                    <span class="material-icons">arrow_drop_down</span>
                </a>
                <ul id='dropdown2' class='dropdown-content'>
                    <li>Guests</li>
                    <li>10 - 50</li>
                    <li>50 - 100</li>
                    <li>100 - 250</li>
                    <li>250 - 500</li>
                    <li>500 - 1000</li>
                    <li>1000+</li>
                </ul>

                <button class="btn-default">
                    <span class="material-icons">search</span>
                    <span>Search Again</span>
                </button>
            </div>
        </div>
    </div>

    <nav class="venues">
        <div class="wrapper">
            <ul class="grid">
                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img1.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img2.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img3.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img1.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img2.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img3.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img1.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img2.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="card">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="../images/products/img3.jpg" />
                            </div>
                        </div>

                        <div class="foot">
                            <div class="title">
                                <h3><a href="#">Wedding Venue Title</a></h3>
                                <p>
                                    <span class="material-icons">place</span>
                                    <span>Kolkata, Park Street</span>
                                </p>
                            </div>

                            <ol>
                                <li>
                                    <h3><span class="inr">₹</span><span>1200</span></h3>
                                    <p>Starts from</p>
                                </li>

                                <li>
                                    <h3>120+</h3>
                                    <p>Guests</p>
                                </li>

                                <li>
                                    <h3 class="rated">4.5+</h3>
                                    <p>Rating</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <footer>
        <div class="wrapper">
            <ul>
                <li>
                    <p><a href="#" class="logo dark"></a></p>
                    <p><span class="material-icons">my_location</span>4998 Elk Creek Road Canton,</p>
                    <p class="space">GA 30114</p>
                    <p><span class="material-icons">call</span><a class="a-active"
                            href="tel:+91-800-2068-980">91-800-2068-980</a></p>
                    <p><span class="material-icons">mark_email_unread</span><a class="a-active"
                            href="mailto:info@wedshine.in">info@wedshine.in</a></p>
                </li>

                <li>
                    <h3>Pages</h3>
                    <p><a href="#">Services</a></p>
                    <p><a href="#">Offers</a></p>
                    <p><a href="#">Testimonial</a></p>
                    <p><a href="#">Faq's</a></p>
                    <p><a href="#">About us</a></p>
                    <p><a href="#">Contact us</a></p>
                </li>

                <li>
                    <h3>Categories</h3>
                    <p><a href="#">Bridal Makeup</a></p>
                    <p><a href="#">Event & Venues</a></p>
                    <p><a href="#">Florist</a></p>
                    <p><a href="#">Photographers</a></p>
                    <p><a href="#">Videography</a></p>
                    <p><a href="#">Wedding Band</a></p>
                </li>

                <li>
                    <h3>Newsletter</h3>
                    <input type="text" placeholder="Email address">
                    <button class="btn-default">
                        <span class="material-icons">feed</span>
                    </button>

                    <div class="social">
                        <span>We are social</span>
                        <a href="#" class="tw"></a>
                        <a href="#" class="fb"></a>
                        <a href="#" class="ig"></a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="footer">
            <div class="wrapper">&copy;
                <script>document.write(new Date().getFullYear())</script> Wedshine Marketings LLP. All Rights Reserved.
            </div>
        </div>
    </footer>

    <div class="menu-slide">
        <div class="menu-mask"></div>
        <div class="menu-items">
            <div class="rmenu-close">
                <div><span class="material-icons">close</span></div>
            </div>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">In-House Services</a></li>
                <li><a href="#">Festive Offers</a></li>
                <li><a href="#">Testimonial</a></li>
                <li><a href="#">About Us</a></li>
                <li><a class="btn-white" href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        const body = document.body;
        const nav = document.querySelector(".page-header nav");
        const scrollUp = "scroll-up";
        const scrollDown = "scroll-down";
        let lastScroll = 0;

        window.addEventListener("scroll", () => {
            const currentScroll = window.pageYOffset;
            if (currentScroll <= 0) {
                body.classList.remove(scrollUp);
                return;
            }

            if (currentScroll > lastScroll && !body.classList.contains(scrollDown)) {
                // down
                body.classList.remove(scrollUp);
                body.classList.add(scrollDown);
            } else if (currentScroll < lastScroll && body.classList.contains(scrollDown)) {
                // up
                body.classList.remove(scrollDown);
                body.classList.add(scrollUp);
            }
            lastScroll = currentScroll;
        });

        $(document).ready(function () {
            $('.rmenu').on('click', function () {
                $('.menu-slide').css('right', '0%');
            })
            $('.rmenu-close').on('click', function () {
                $('.menu-slide').css('right', '-100%');
            })
            $('.menu-mask').on('click', function () {
                $('.menu-slide').css('right', '-100%');
            })

            $('#dropdown-trigger1').dropdown();
            $('#dropdown1 li').on('click', function () {
                var _this = $(this).text();
                $('#drop-val1').text(_this)
            })

            //=============
            $('#dropdown-trigger1').dropdown();
            $('#dropdown1 li').on('click', function () {
                var _this = $(this).text();
                $('#drop-val1').text(_this)
            })

            $('#dropdown-trigger2').dropdown();
            $('#dropdown2 li').on('click', function () {
                var _this = $(this).text();
                $('#drop-val2').text(_this)
            })
        })
    </script>
</body>

</html>